# Week1 7월 5일 목요일 

# Python 객체지향 1 : Functional Programming, Class

lambda는 statement가 아니라 expression

In [1]:
def moon_sun() : # 헤더 / 함수이름은 snake형으로 씀 / 인자를 안써도 허용
    pass # 바디

바디 : 

- pass - 형태만 구별, 아무 영향도 안 미친다 

- 가능한 리턴을 써야하지만 리턴을 안써도 괜찮음 return None이 숨겨져 있음

- 함수 내에 print()가 있으면 식이 아니라 문! 덧셈같은거 못함

In [2]:
import dis

In [3]:
type(dis)

module

In [4]:
dir(dis)

['Bytecode',
 'COMPILER_FLAG_NAMES',
 'EXTENDED_ARG',
 'FORMAT_VALUE',
 'HAVE_ARGUMENT',
 'Instruction',
 '_Instruction',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_disassemble_bytes',
 '_disassemble_str',
 '_format_code_info',
 '_get_code_object',
 '_get_const_info',
 '_get_instructions_bytes',
 '_get_name_info',
 '_have_code',
 '_test',
 '_try_compile',
 '_unpack_opargs',
 'cmp_op',
 'code_info',
 'collections',
 'dis',
 'disassemble',
 'disco',
 'distb',
 'findlabels',
 'findlinestarts',
 'get_instructions',
 'hascompare',
 'hasconst',
 'hasfree',
 'hasjabs',
 'hasjrel',
 'haslocal',
 'hasname',
 'hasnargs',
 'io',
 'opmap',
 'opname',
 'pretty_flags',
 'show_code',
 'stack_effect',
 'sys',
 'types']

파이썬에서는 상수 개념이 없지만, 대문자로 되어있는 함수명(변수명?)은 상수처럼 사용

In [5]:
dis.dis(moon_sun)

  2           0 LOAD_CONST               0 (None)
              2 RETURN_VALUE

dis : 함수가 어떻게 돌아가는지 내부적인 구조를 보여줌

* parameter와 argument의 차이? 

argument : parameter에 대치되는 값

ex) def moon(x)에서 moon(3)이면, x = parameter , 3= argument

In [6]:
def moon_sun(x,y) :
    return x,y

multiple return이 아니라 tuple!

In [7]:
moon_sun(1,3)

(1, 3)

포지셔널 방식 : 순서대로 짝을 이뤄서 파라미터에 알규먼트를 넣는 방법

In [9]:
moon_sun(y=1,x=3)

(3, 1)

키워드 방식 : 순서에 상관없이 파라미터를 명시하고 알규먼트를 넣는 방법

In [10]:
def moon_sun(x,y,*z) :
    return x,y,z

packing unpacking \*x은 나머지 모든애들이 리스트가 됨

In [12]:
a, *b, c = 1,2,3,4,5,6,7,8

In [13]:
b

[2, 3, 4, 5, 6, 7]

In [17]:
moon_sun(1,23,4,5,6,3,6,"11",['a', 'b'])

(1, 23, (4, 5, 6, 3, 6, '11', ['a', 'b']))

In [18]:
def moon_sun(x,*y,z) :
    return x,y,z

In [19]:
moon_sun(1,23,4,5,6,3,6,"11",['a', 'b'])

TypeError: moon_sun() missing 1 required keyword-only argument: 'z'

별표 파라미터는 중간에 쓸수없음 항상 맨 뒤에 써야 함 

예외 : 키워드 방식으로 쓰면 가능

In [20]:
moon_sun(1,23,4,5,6,3,6,"11",z=['a', 'b'])

(1, (23, 4, 5, 6, 3, 6, '11'), ['a', 'b'])

키워드 방식으로만 알규먼트 받는 방법 : 젤 처음 \*를 @변수이름 없이@ 박으면 됨 사이킷런, 판다스의 함수에서 많이 사용

In [25]:
def moon_sun(*,x,y) :
    return x,y

In [29]:
moon_sun(1,2) # 포지셔닝 방법 불가

TypeError: moon_sun() takes 0 positional arguments but 2 were given

In [27]:
moon_sun(3,4,5,x=1,y=2)

TypeError: moon_sun() takes 0 positional arguments but 3 positional arguments (and 2 keyword-only arguments) were given

In [28]:
moon_sun(x=1,y=2)

(1, 2)

알규먼트에 기본 값 주기 - 알규먼트 생략할 때 사용, 제일 마지막 파라미터부터 채워야함

In [30]:
def moon_sun(x=3,y) :
    return x,y

SyntaxError: non-default argument follows default argument (<ipython-input-30-4a23838b004b>, line 1)

syntaxError : Compile error 와 비슷

In [31]:
import pandas as pd

pd.read_csv

read_csv의 파라미터들을 관찰해보면 전부 기본값들이 있음, 알규먼트를 안적어도 되는..

In [33]:
def moon_sun(x,y=3,z=1) :
    return x,y,z

In [34]:
moon_sun(1) # 입력을 안하면 기본값

(1, 3, 1)

In [36]:
moon_sun(1,5) # 입력을 하면 내가 넣은 값

(1, 5, 1)

In [38]:
moon_sun(1,z=5) # y는 기본값, 필요한 z만 입력하고 싶을 때 키워드 방식

(1, 3, 5)

parameter에서는 or 쓸수 없지만 argument에서는 or 쓸수있음

In [39]:
moon_sun(7 or 23)

(7, 3, 1)

In [42]:
a = input()
moon_sun(a or 23)

(23, 3, 1)

저런 기법에 사용.. 입력받은 값이 없어서 false가 되면 or 뒤에 값이 나옴

In [43]:
1,_,_ = 2,3,2

SyntaxError: can't assign to literal (<ipython-input-43-b5dd49c33797>, line 1)

In [44]:
x,_,_ = 2,3,5

In [45]:
x,_

(2, 5)

파이썬은 왼쪽에서 오른쪽으로 계산한다

In [47]:
def moon_sun(x,*y) :
    return x,y

In [48]:
moon_sun(1,2,3,4,5)

(1, (2, 3, 4, 5))

In [50]:
moon_sun(1,(2,3,4,5))

(1, ((2, 3, 4, 5),))

In [51]:
moon_sun(1,*(2,3,4,5))

(1, (2, 3, 4, 5))

In [52]:
moon_sun(1,*[2,3,4,5])

(1, (2, 3, 4, 5))

In [53]:
moon_sun(1,*{2,3,4,5})

(1, (2, 3, 4, 5))

In [56]:
moon_sun(1,*'aaa') # 문자열이 들어오면 리스트처럼 처럼

(1, ('a', 'a', 'a'))

In [55]:
list("박소영")

['박', '소', '영']

In [57]:
def moon_sun(x, **y) :
    return x,y

In [58]:
moon_sun(1, a=1, b=2) # 딕셔너리가 되었음

(1, {'a': 1, 'b': 2})

In [61]:
moon_sun(1, x=1, b=2) # 파라미터랑 값은 키값은 안됨

TypeError: moon_sun() got multiple values for argument 'x'

In [64]:
def moon_sun(x, **y) :
    if 'a' in y :
        print(y['a'])
    return x,y

In [65]:
moon_sun(1, a=1, b=2) # 숨겨진 기능

1

(1, {'a': 1, 'b': 2})

In [106]:
def moon_sun(x, *y, **z) : # 순서 그냥 파라미터 -> 별표한개 -> 별표두개
    return x, y, z

In [69]:
moon_sun(1,2,3,4,a=5,b=6)

(1, (2, 3, 4), {'a': 5, 'b': 6})

In [109]:
moon_sun(1,*(2,3,4),**{'a':5,'b':6}) # *는 묶은 상태에서 사용

(1, (2, 3, 4), {'a': 5, 'b': 6})

In [110]:
moon_sun(1,*(2,3,4),**{1:5,2:6}) # keywords must be strings 함수에서 쓸때는..

TypeError: moon_sun() keywords must be strings

In [76]:
x = {1:'a', 2:'b'}
y = {2:'c', 3:'d'}

In [79]:
z = {**x}
z

{1: 'a', 2: 'b'}

디셔너리는 별 두개 \*\* = unpacking 풀어해치는거야

In [80]:
z = {**x, **y}
z

{1: 'a', 2: 'c', 3: 'd'}

In [105]:
# 타입이 시퀀스인지 확인하는 함수 만들기

def is_sequnece(arg) :
    if type(arg) in [list, tuple, range] :
        return True
    return False

# isinstance, hasattr 써도 할 수 있다

In [103]:
is_sequnece([1,2,3])

True

first class function : 함수가 여기저기 쓸수있을 때 (할당/리턴값 등)

high-order?

함수형 기법

In [41]:
a = {'a':1, 'b':2, 'c':3}

In [112]:
for i in a :
    print(i)

a
b
c

In [119]:
a.values()

dict_values([1, 2, 3])

In [42]:
for i,j in a.items() :
    print(i,j)

a 1
b 2
c 3

In [120]:
from collections import OrderedDict #Sequence 타입의 dictionary

In [1]:
import seaborn as sns

In [2]:
type(sns)

module

In [3]:
dir(sns)

['FacetGrid',
 'JointGrid',
 'PairGrid',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_orig_rc_params',
 'algorithms',
 'axes_style',
 'axisgrid',
 'barplot',
 'blend_palette',
 'boxplot',
 'categorical',
 'choose_colorbrewer_palette',
 'choose_cubehelix_palette',
 'choose_dark_palette',
 'choose_diverging_palette',
 'choose_light_palette',
 'clustermap',
 'coefplot',
 'color_palette',
 'countplot',
 'crayon_palette',
 'crayons',
 'cubehelix_palette',
 'dark_palette',
 'desaturate',
 'despine',
 'distplot',
 'distributions',
 'diverging_palette',
 'division',
 'external',
 'factorplot',
 'get_dataset_names',
 'heatmap',
 'hls_palette',
 'husl_palette',
 'interactplot',
 'jointplot',
 'kdeplot',
 'light_palette',
 'linearmodels',
 'lmplot',
 'load_dataset',
 'lvplot',
 'matrix',
 'miscplot',
 'mpl',
 'mpl_palette',
 'np',
 'pairplot',
 'palettes',
 'palplot',
 'plotting_context',
 'plt',
 'pointplot',
 'puppyplot',
 'rcmod',
 'regplot',
 'reset_defaults',
 'reset_orig',
 'residplot',
 'rugplot',
 'saturate',
 'set',
 'set_color_codes',
 'set_context',
 'set_hls_values',
 'set_palette',
 'set_style',
 'stripplot',
 'swarmplot',
 'timeseries',
 'tsplot',
 'utils',
 'violinplot',
 'widgets',
 'xkcd_palette',
 'xkcd_rgb']

In [4]:
data = sns.load_dataset('tips')

In [5]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
dir(data)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [9]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [15]:
data.groupby('sex').mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

Functional Programming : loop를 없애는 기법 - iterator, generator 또는 깔끔한 loop를 만드는 법

In [17]:
lst = list()
for i in range(1,11) :
    lst.append(i)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
i # 문제 1 : local scope 가 global scope로 전이되었다

10

In [25]:
[i for i in range(1,11)] # 간결한 loop

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
list(range(1,11)) # 합성함수 느낌~~ f(g(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
[i for i in range(1,11) if i%2 == 0]

[2, 4, 6, 8, 10]

In [23]:
tuple([i for i in range(1,11) if i%2 == 0])

(2, 4, 6, 8, 10)

In [24]:
(i for i in range(1,11) if i%2 == 0) # generator

high order fucntion : 함수형 기법에서 map, filter, reduce, (apply)을 사용할거야!

In [28]:
# 1부터 10까지 합 -> 잘 안와닿아..
sum(list(range(1,11)))

55

In [32]:
list(map(lambda x:x+2, range(1,11)))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

map : 함수를 매핑시켜줌

In [34]:
list(map(lambda x : x+'2', 'string')) # str

['s2', 't2', 'r2', 'i2', 'n2', 'g2']

In [35]:
list(map(lambda x : x+2,(1,2,3,4))) # tuple

[3, 4, 5, 6]

In [36]:
(1,2,3)+2

TypeError: can only concatenate tuple (not "int") to tuple

In [37]:
(1,2,3)+(2,)

(1, 2, 3, 2)

In [40]:
set(map(lambda x : x+2,{1,2,3})) # set

{3, 4, 5}

map 의 argument로 함수(lambda)를 썼다! first class function

In [1]:
def add_two(x) :
    return x+2

In [2]:
list(map(add_two,[1,2,3]))

[3, 4, 5]

In [7]:
list(filter(lambda x : x<4, range(1,11))) # 조건에 맞는 애들만 출력

[1, 2, 3]

In [9]:
all([" ",[],(),{}]) # 전부다 참일 때 ture

False

In [15]:
all(" ")

True

In [12]:
any([" ",[],(),{}]) # 하나라도 참일때 true

True

In [17]:
sorted([1,4,2,3])

[1, 2, 3, 4]

In [22]:
sorted(['A','a'])

['A', 'a']

In [35]:
a = enumerate([4,5,6])
a

<> : 주의해서 봐 generator? iterable? iterator?

In [33]:
dir(a)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

enumerate 는 '\_\_iter\_\_'을 가지고 있음 iterable 이야! -> in 다음에 쓸수 있어

? 한 번에 메모리에 다 올리기 , 실행 속도는 빠르나 못올리는 경우가 많을 수도 있다

->@@ range 기법 : 하나씩 메모리에 올리기, 실행 속도는 느리나 모두 메모리에 올릴 수 있다.

In [38]:
for i,j in enumerate(range(3,11)) :
    print(i,j)

0 3
1 4
2 5
3 6
4 7
5 8
6 9
7 10

enumerate : iterator의 인덱스를 함께 출력해줌

In [39]:
for i,j in enumerate(range(3,11),4) : # index 시작 위치 조건 추가
    print(i,j)

4 3
5 4
6 5
7 6
8 7
9 8
10 9
11 10

In [43]:
for i in map(lambda x:x+1, range(10)) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [46]:
[x if x> 5 else "" for x in range(10)] # if를 앞에 쓸때

['', '', '', '', '', '', 6, 7, 8, 9]

In [47]:
[x for x in range(10) if x>5] # if를 뒤에 쓸때

[6, 7, 8, 9]

In [54]:
for i in range(2,10) :
    print()
    for j in range(1,10) :
        print(i*j, " ", end="")

2  4  6  8  10  12  14  16  18
3  6  9  12  15  18  21  24  27
4  8  12  16  20  24  28  32  36
5  10  15  20  25  30  35  40  45
6  12  18  24  30  36  42  48  54
7  14  21  28  35  42  49  56  63
8  16  24  32  40  48  56  64  72
9  18  27  36  45  54  63  72  81

In [59]:
[(x, y, x*y) for x in range(3,10,2) for y in range(1,10)] # 홀수 구구단만 출력

[(3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

nested comprehension

함수형 프로그래밍 함수의 default 값으로 절대로 mutable을 쓰지마라!

함수형 프로그래밍은 상태를 체크 안하기 때문에 이런 문제가 발생

In [71]:
def mutable(x, y=[]) :
    y.append(x)
    return y

In [72]:
mutable(1)

[1]

In [73]:
mutable(2) # 1도 그대로 남아있음!

[1, 2]

In [1]:
import time

In [2]:
def time_at (time =time.time()) :
    return time

In [3]:
time_at()

1530770729.9366536

In [4]:
time.sleep(5)

In [5]:
time_at()

1530770729.9366536

항상 똑같은 시간이 나옴 -> 왜? time이 default argument로 왔을 때 이미 그 시간으로 고정되버림 그러므로 함수의 파라미터에 default arg로 mutable 쓰지마라

In [9]:
def moon(s = None) : # 함수를 이런식으로 써서 arg를 안쓰면 아무값도 안나오게 함수를 만드는 방식도 있다
    return s

In [7]:
moon()

In [8]:
moon(1)

1

함수형 기법은 코드가 간결해지고, 디버깅하기 좋고, 병렬 처리 하기도 좋다

scope : 변수가 생존하는 범위

scope 기본 법칙 :LEGB

Local : 함수 내에, 함수 내에 있는 애가 제일 우선 (x=2) / 함수 내에 그 변수가 없을 때는 함수 밖에 있는 변수를 가져옴 (y=3)

Enclosed

Global : 함수 밖에, 함수랑 관련없으니깐 함수 밖에 (x=1)

Buit in :

In [18]:
x = 1
y = 3
def a() :
    x = 2
    x += 3
    print("a 내부 x :", x)
    print("a 내부 y :", y)
    return x
print('a() :', a())
print('x :', x)

a 내부 x : 5
a 내부 y : 3
a() : 5
x : 1

In [19]:
x = 1
y = 3
def a() :
    global x # 함수 내부 변수가 함수 외부 변수를 바꿀수있게 됨
    x += 3
    print("a 내부 x :", x)
    print("a 내부 y :", y)
    return x
print('a() :', a())
print('x :', x)

a 내부 x : 4
a 내부 y : 3
a() : 4
x : 4

In [23]:
x = 1
y = 3
def a() :
    #global x # global을 안쓰면 오류가 남 함수 내에서 밖에있는 변수 조작할 수 없음
    x += 3
    print("a 내부 x :", x)
    print("a 내부 y :", y) # 그냥 사용은 괜춘?
    return x
print('a() :', a())
print('x :', x)

UnboundLocalError: local variable 'x' referenced before assignment

In [30]:
x = 1
def a() :
    x = 2
    def b() : # 함수 내에 함 수 선언
        return x
    return b # 함수의 반환값으로 함수 반환
print(a()()) # a() = b a()()=b
print(x)

2
1

In [31]:
x = 1
def a() :
    x = 2
    def b() : # 함수 내에 함 수 선언
        global x
        return x
    return b # 함수의 반환값으로 함수 반환
print(a()()) # a() = b a()()=b
print(x)

1
1

In [32]:
x = 1
def a() :
    def b() : # 함수 내에 함 수 선언
        return x
    x = 2
    return b # 함수의 반환값으로 함수 반환
print(a()()) # a() = b a()()=b
print(x)

2
1

In [33]:
x = 1
def a() :
    def b() : # 함수 내에 함 수 선언
        nonlocal x # local이 아닌 global도 아닌 -> 함수 2개가 중첩되었을 때 함수와 함수 사이에 있는 변수(x=2)
        return x
    x = 2
    return b # 함수의 반환값으로 함수 반환
print(a()()) # a() = b a()()=b
print(x)

2
1

In [35]:
a, b = 3,4

In [36]:
a, b = b, a

In [37]:
a

4

In [38]:
b

3