# Week2 7월 9일 월요일 

# RDBMS, Sqlite

In [2]:
import sqlite3

In [3]:
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

* sql 버전 확인

In [4]:
sqlite3.version

'2.6.0'

In [6]:
sqlite3.sqlite_version

'3.14.2'

* Databse 연결

In [7]:
conn = sqlite3.connect(":memory:")

In [8]:
conn

* Cursor 생성

In [9]:
cur = conn.cursor()

In [10]:
cur

cur.execute # 커리 실행

cur.fetchall # 실행 결과를 받아오기

In [11]:
cur.execute("create table people (name_last, age)")

In [13]:
who = 'Yeltsin'
age = 72

In [14]:
cur.execute("insert into people values (?, ?)", (who, age)) 
# qmark style 뭘 넣을지는 ? (question mark)를 사용한다

In [16]:
cur.execute("select * from people where name_last=:who and age=:age", 
            {"who" : who, "age" : age})
# named style 뭘 넣을지 :(변수이름) 을 사용

fetchone() : 데이터 하나씩 하나씩 꺼내옴, 반복문과 함께 사용

In [17]:
print(cur.fetchone()) # 튜플 형태로 반환

('Yeltsin', 72)

In [19]:
print(cur.fetchone()) # 두번째로 할때는 암것도 안나옴 (이미 한번 뱉어냈으니깐)

None

* 여러개를 한꺼번에 처리할 때

In [20]:
sql = "insert into people values(?, ?)"

In [21]:
curData = [('A', 1), ('B', 2), ('C',3)]

In [22]:
cur.executemany(sql, curData)

* sql문을 여러개 입력할 때

In [23]:
cur.executescript(
    '''
    create table person (
        first_name text primary key,
        last_name text not null
        );
        
    insert into person values ('name', 'kim');
''')

executescript 에는 select 써봤자 못읽어옴 커서가 뭘 읽어야할지 몰라함

In [26]:
cur.execute("select * from person")

In [27]:
print(cur.fetchall())

[('name', 'kim')]

In [45]:
conn.close()

In [46]:
conn1 = sqlite3.connect("test1.db") # db를 만듦

In [47]:
conn1.execute(
'''
    create table company(
        ID int primary key not null,
        name text not null,
        age int not null,
        address char(50),
        salary real
        );
'''
)

In [48]:
# insert 방법 1 : 그냥 값을 넣기
conn1.execute("INSERT INTO COMPANY \
                VALUES (1, 'Paul', 32, 'California', 20000.00);")

In [49]:
# insert 방법 2 : named style 사용
conn1.execute("INSERT INTO COMPANY \
                VALUES (:id, :name, :age, :address, :salary);",
             {'id' : 2, 'name':'Allen', 'age':25, 'address':'Texas', 'salary':15000.00})

In [52]:
data = [(3, 'Teddy', 23, 'Norway', 20000.00),
       (4, 'Mark', 25, 'Rich-Mond', 65000.00)]

In [54]:
# insert 방법 3 : qmark style 사용
# 한꺼번에 많이 insert 방법 1 : executemany
conn1.executemany("INSERT INTO COMPANY \
                VALUES (?, ?, ?, ?, ?);", data)

In [55]:
# 한꺼번에 많이 insert 방법 2 : executescript
conn1.executescript(
    '''
    INSERT INTO COMPANY \
    VALUES (5, 'Jane', 32, 'Rich-Mond', 30000.00);
    
    INSERT INTO COMPANY \
    VALUES (6, 'Tim', 32, 'Rich-Mond', 40000.00);

''')

In [56]:
conn1.commit()

In [58]:
temp = conn1.execute("select * from company")

In [59]:
type(temp) # 안녕 나는 커서야 데이터를 물고 있지

sqlite3.Cursor

In [60]:
for row in temp :
    print(row) # cursor.fetchone 이랑 같은 결과

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond', 65000.0)
(5, 'Jane', 32, 'Rich-Mond', 30000.0)
(6, 'Tim', 32, 'Rich-Mond', 40000.0)

In [61]:
conn1.execute("update company set salary = 25000.00 where ID=:id;", {'id':1})

In [62]:
conn1.commit()

In [73]:
cur1 = conn1.cursor()

In [74]:
cur1.execute("select * from company")

In [75]:
print(cur1.fetchall())

[(1, 'Paul', 32, 'California', 25000.0), (2, 'Allen', 25, 'Texas', 15000.0), (3, 'Teddy', 23, 'Norway', 20000.0), (4, 'Mark', 25, 'Rich-Mond', 65000.0), (5, 'Jane', 32, 'Rich-Mond', 30000.0), (6, 'Tim', 32, 'Rich-Mond', 40000.0)]

In [76]:
conn1.execute("delete from company where ID=2;")

In [77]:
for row in conn1.execute("select * from company;") :
    print(row)

(1, 'Paul', 32, 'California', 25000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond', 65000.0)
(5, 'Jane', 32, 'Rich-Mond', 30000.0)
(6, 'Tim', 32, 'Rich-Mond', 40000.0)

In [79]:
conn1.commit() # DB browser에 반영 확인