# Week2 7월 10일 화요일 

# SQLAlchemy ORM

In [1]:
from sqlalchemy import *

In [2]:
#engine = create_engine("sqlite://", echo=True) # 메모리에 저장하고 싶을 때
engine = create_engine("sqlite:///alchemy_orm.db", echo=True)

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
base = declarative_base()

In [6]:
dir(base) # metadata를 한번더 감싼 애

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_decl_class_registry',
 'metadata']

In [7]:
base.metadata

MetaData(bind=None)

In [5]:
from sqlalchemy.orm import relationship

In [6]:
class Artist(base) :
    __tablename__ = "artist"
    
    id_ = Column(Integer, primary_key=True)
    name = Column(String)
    album = relationship("Album", back_populates="artist") # relationship : "Album"이라는 클래스에 가면 artist 라는 변수가 있다
    
    def __repr__(self) :
        return "<T' artist(name=%s)>" % (self.name)
    

class Album(base) :
    __tablename__ = "album"
    
    id_ = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("artist.id_"))
    artist = relationship("Artist", back_populates="album") # relationship : "Aritst"이라는 클래스에 가면 album 라는 변수가 있다

class Genre(base) :
    __tablename__ = "genre"
    
    id_ = Column(Integer, primary_key=True)
    name = Column(String)
     
        
class Track(base) :
    __tablename__ = "track"
    
    id_ = Column(Integer, primary_key=True)
    title = Column(String)
    album_id = Column(Integer, ForeignKey("album.id_"))
    genre_id = Column(Integer, ForeignKey("genre.id_"))

In [32]:
dir(Artist)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mapper__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__table__',
 '__tablename__',
 '__weakref__',
 '_decl_class_registry',
 '_sa_class_manager',
 'album',
 'id_',
 'metadata',
 'name']

In [37]:
Artist.metadata

MetaData(bind=None)

In [34]:
print(Artist.__mapper__)

Mapper|Artist|artist

In [38]:
Artist.__table__

Table('artist', MetaData(bind=None), Column('id_', Integer(), table=<artist>, primary_key=True, nullable=False), Column('name', String(), table=<artist>), schema=None)

In [7]:
base.metadata.create_all(engine)

2018-07-13 16:17:58,711 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-13 16:17:58,739 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:58,747 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-13 16:17:58,752 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:58,761 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-13 16:17:58,765 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:58,772 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-13 16:17:58,776 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:58,782 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-13 16:17:58,787 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:58,794 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-13 16:17:58,798 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:58,806 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artist (
	id_ INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id_)
)


2018-07-13 16:17:58,811 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:58,854 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-13 16:17:58,860 INFO sqlalchemy.engine.base.Engine
CREATE TABLE genre (
	id_ INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id_)
)


2018-07-13 16:17:58,865 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:58,900 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-13 16:17:58,905 INFO sqlalchemy.engine.base.Engine
CREATE TABLE album (
	id_ INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id_),
	FOREIGN KEY(artist_id) REFERENCES artist (id_)
)


2018-07-13 16:17:58,913 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:58,983 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-13 16:17:58,995 INFO sqlalchemy.engine.base.Engine
CREATE TABLE track (
	id_ INTEGER NOT NULL,
	title VARCHAR,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id_),
	FOREIGN KEY(album_id) REFERENCES album (id_),
	FOREIGN KEY(genre_id) REFERENCES genre (id_)
)


2018-07-13 16:17:59,001 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:17:59,047 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
from sqlalchemy.orm import sessionmaker

In [9]:
Session = sessionmaker(bind=engine)

In [10]:
session = Session()

In [11]:
artist1 = Artist(name = 'IU')
artist2 = Artist(name = 'AKMU')

In [12]:
artist1.album

[]

In [13]:
# Relationship
artist1.album = [Album(title="Last Fantasy"), Album(title="CHAT-SHIRE")] # COMMIT 전이면 DB에 생성된건 아님

In [14]:
# Insert
session.add_all([
    artist1, artist2
])

In [15]:
session.commit()

2018-07-13 16:18:08,423 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-13 16:18:08,430 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-13 16:18:08,436 INFO sqlalchemy.engine.base.Engine ('IU',)
2018-07-13 16:18:08,448 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-13 16:18:08,452 INFO sqlalchemy.engine.base.Engine ('AKMU',)
2018-07-13 16:18:08,461 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-13 16:18:08,467 INFO sqlalchemy.engine.base.Engine ('Last Fantasy', 1)
2018-07-13 16:18:08,474 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-13 16:18:08,478 INFO sqlalchemy.engine.base.Engine ('CHAT-SHIRE', 1)
2018-07-13 16:18:08,486 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
print(artist1.id_, artist1.name, artist1.album[0].id_, artist1.album[0].title)

2018-07-13 16:18:09,646 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-13 16:18:09,652 INFO sqlalchemy.engine.base.Engine SELECT artist.id_ AS artist_id_, artist.name AS artist_name
FROM artist
WHERE artist.id_ = ?
2018-07-13 16:18:09,658 INFO sqlalchemy.engine.base.Engine (1,)
2018-07-13 16:18:09,671 INFO sqlalchemy.engine.base.Engine SELECT album.id_ AS album_id_, album.title AS album_title, album.artist_id AS album_artist_id
FROM album
WHERE ? = album.artist_id
2018-07-13 16:18:09,676 INFO sqlalchemy.engine.base.Engine (1,)
1 IU 1 Last Fantasy

In [17]:
session.dirty

IdentitySet([])

In [18]:
session.new

IdentitySet([])

In [19]:
artist1.name = 'xyz'

In [20]:
session.dirty # Collision이 일어날만한

IdentitySet([<T' artist(name=xyz)>])

In [17]:
session.add_all([
    Album(title = 'Pallete', artist_id = 1),
    Album(title = 'Four Springs', artist_id = 2)
])

In [18]:
session.add_all([
    Genre(name = 'Duet'),
    Genre(name = 'Solo')
])

In [19]:
session.add_all([
    Track(title = 'Pallete', album_id =1, genre_id =2),
    Track(title = 'Way back home', album_id =2, genre_id =1)
])

In [20]:
session.new # 아직 commit하지 않고 session에 쌓여있는 친구들

IdentitySet([<__main__.Album object at 0x0000003FD4B0D630>, <__main__.Album object at 0x0000003FD4B0D470>, <__main__.Genre object at 0x0000003FD4B0D4E0>, <__main__.Genre object at 0x0000003FD4B0D5F8>, <__main__.Track object at 0x0000003FD4B0DA90>, <__main__.Track object at 0x0000003FD4B0DB00>])

In [21]:
session.commit() # commit 한 것을 보여줌

2018-07-13 16:18:19,590 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-13 16:18:19,597 INFO sqlalchemy.engine.base.Engine ('Pallete', 1)
2018-07-13 16:18:19,607 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-13 16:18:19,611 INFO sqlalchemy.engine.base.Engine ('Four Springs', 2)
2018-07-13 16:18:19,621 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-13 16:18:19,626 INFO sqlalchemy.engine.base.Engine ('Pallete', 1, 2)
2018-07-13 16:18:19,633 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-13 16:18:19,638 INFO sqlalchemy.engine.base.Engine ('Way back home', 2, 1)
2018-07-13 16:18:19,646 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-13 16:18:19,651 INFO sqlalchemy.engine.base.Engine ('Duet',)
2018-07-13 16:18:19,658 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-13 16:18:19,663 INFO sqlalchemy.engine.base.Engine ('Solo',)
2018-07-13 16:18:19,671 INFO sqlalchemy.engine.base.Engine COMMIT

In [22]:
# select
for i in session.query(Artist) :
    print(i.name)

2018-07-13 16:18:22,390 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-13 16:18:22,395 INFO sqlalchemy.engine.base.Engine SELECT artist.id_ AS artist_id_, artist.name AS artist_name
FROM artist
2018-07-13 16:18:22,401 INFO sqlalchemy.engine.base.Engine ()
IU
AKMU

In [23]:
# where -> filter
for i in session.query(Artist).filter(Artist.id_==2) :
    print(i.id_, i.name)

2018-07-13 16:18:23,316 INFO sqlalchemy.engine.base.Engine SELECT artist.id_ AS artist_id_, artist.name AS artist_name
FROM artist
WHERE artist.id_ = ?
2018-07-13 16:18:23,322 INFO sqlalchemy.engine.base.Engine (2,)
2 AKMU