# Week2 7월 10일 화요일 

# SQLAlchemy

In [1]:
!pip list

alabaster (0.7.10)
anaconda-client (1.6.3)
anaconda-navigator (1.6.2)
anaconda-project (0.6.0)
asn1crypto (0.22.0)
astroid (1.4.9)
astropy (1.3.2)
Babel (2.4.0)
backports.shutil-get-terminal-size (1.0.0)
beautifulsoup4 (4.6.0)
bitarray (0.8.1)
blaze (0.10.1)
bleach (1.5.0)
bokeh (0.12.5)
boto (2.46.1)
Bottleneck (1.2.1)
cffi (1.10.0)
chardet (3.0.3)
click (6.7)
cloudpickle (0.2.2)
clyent (1.2.2)
colorama (0.3.9)
comtypes (1.1.2)
conda (4.3.21)
contextlib2 (0.5.5)
cryptography (1.8.1)
cycler (0.10.0)
Cython (0.25.2)
cytoolz (0.8.2)
dask (0.14.3)
datashape (0.5.4)
decorator (4.0.11)
distributed (1.16.3)
docutils (0.13.1)
entrypoints (0.2.2)
et-xmlfile (1.0.1)
fastcache (1.0.2)
Flask (0.12.2)
Flask-Cors (3.0.2)
gevent (1.2.1)
graphviz (0.8.2)
greenlet (0.4.12)
h5py (2.7.0)
HeapDict (1.0.0)
html5lib (0.999)
idna (2.5)
imagesize (0.7.1)
imbalanced-learn (0.3.3)
ipykernel (4.6.1)
ipython (5.3.0)
ipython-genutils (0.2.0)
ipywidgets (6.0.0)
isort (4.2.5)
itsdangerous (0.24)
jdcal (1.3)
jedi (0.10.2)
Jinja2 (2.9.6)
jsonschema (2.6.0)
jupyter (1.0.0)
jupyter-client (5.0.1)
jupyter-console (5.1.0)
jupyter-core (4.3.0)
lazy-object-proxy (1.2.2)
llvmlite (0.18.0)
locket (0.2.0)
lxml (3.7.3)
MarkupSafe (0.23)
matplotlib (2.0.2)
menuinst (1.4.7)
mistune (0.7.4)
mpmath (0.19)
msgpack-python (0.4.8)
multipledispatch (0.4.9)
navigator-updater (0.1.0)
nbconvert (5.1.1)
nbformat (4.3.0)
networkx (1.11)
nltk (3.2.3)
nose (1.3.7)
notebook (5.0.0)
numba (0.33.0)
numexpr (2.6.2)
numpy (1.12.1)
numpydoc (0.6.0)
odo (0.5.0)
olefile (0.44)
openpyxl (2.4.7)
packaging (16.8)
pandas (0.20.1)
pandocfilters (1.4.1)
partd (0.3.8)
path.py (10.3.1)
pathlib2 (2.2.1)
patsy (0.4.1)
pep8 (1.7.0)
pickleshare (0.7.4)
Pillow (4.1.1)
pip (9.0.1)
ply (3.10)
prompt-toolkit (1.0.14)
psutil (5.2.2)
py (1.4.33)
pycosat (0.6.2)
pycparser (2.17)
pycrypto (2.6.1)
pycurl (7.43.0)
pydotplus (2.0.2)
pyflakes (1.5.0)
Pygments (2.2.0)
pylint (1.6.4)
pyodbc (4.0.16)
pyOpenSSL (17.0.0)
pyparsing (2.1.4)
pytest (3.0.7)
python-dateutil (2.6.0)
pytz (2017.2)
PyWavelets (0.5.2)
pywin32 (220)
PyYAML (3.12)
pyzmq (16.0.2)
QtAwesome (0.4.4)
qtconsole (4.3.0)
QtPy (1.2.1)
requests (2.14.2)
rope-py3k (0.9.4.post1)
scikit-image (0.13.0)
scikit-learn (0.19.1)
scipy (0.19.0)
seaborn (0.7.1)
setuptools (27.2.0)
simplegeneric (0.8.1)
singledispatch (3.4.0.3)
six (1.10.0)
snowballstemmer (1.2.1)
sortedcollections (0.5.3)
sortedcontainers (1.5.7)
sphinx (1.5.6)
spyder (3.1.4)
SQLAlchemy (1.1.9)
statsmodels (0.8.0)
sympy (1.0)
tables (3.2.2)
tblib (1.3.2)
testpath (0.3)
toolz (0.8.2)
tornado (4.5.1)
traitlets (4.3.2)
unicodecsv (0.14.1)
wcwidth (0.1.7)
Werkzeug (0.12.2)
wheel (0.29.0)
widgetsnbextension (2.0.0)
win-unicode-console (0.5)
wrapt (1.10.10)
xlrd (1.0.0)
XlsxWriter (0.9.6)
xlwings (0.10.4)
xlwt (1.2.0)
zict (0.1.2)

DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.

sqlalchemy 있는지 확인하기

In [1]:
from sqlalchemy import *

In [3]:
import sqlalchemy

In [4]:
sqlalchemy.__version__

'1.1.9'

* engine

In [5]:
from sqlalchemy import create_engine

In [6]:
# create engine 시작지점
engine = create_engine("sqlite:///alchemy_core.db", echo=True)

* metadata

In [7]:
from sqlalchemy import MetaData

In [8]:
metadata = MetaData()

In [9]:
print(metadata)

MetaData(bind=None)

지금은 암것도 없음

Object 을 만들어서 이안에 넣어줄거야

* Create Table

In [9]:
from sqlalchemy import Table, Column, Integer, String, ForeignKey

In [10]:
users = Table('users', metadata,
             Column('id', Integer, primary_key=True),
             Column('name', String),
             Column('fullname', String)
             )

In [11]:
print(users)

users

In [12]:
address = Table('addresses', metadata,
             Column('id', Integer, primary_key=True),
             Column('user_id', Integer, ForeignKey('users.id')),
             Column('email_address', String, nullable=False)
             )

In [13]:
print(address)

addresses

* Create all tables stored in this metadata

In [14]:
metadata.create_all(engine) # 만든 테이블들을 engine을 통해서 바인딩

2018-07-13 16:10:32,463 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-13 16:10:32,467 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:10:32,476 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-13 16:10:32,480 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:10:32,489 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-13 16:10:32,493 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:10:32,502 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-13 16:10:32,506 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:10:32,515 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2018-07-13 16:10:32,519 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:10:32,554 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-13 16:10:32,560 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-07-13 16:10:32,566 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:10:32,605 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
# 테이블 확인하기
for row in metadata.tables :
    print(row)

users
addresses

In [16]:
print(metadata) # 바인딩하고 끝나서 없음 할 때마다 engine을 통해서 바인딩 다시 해줘야해

MetaData(bind=None)

* Insert

In [22]:
users.insert()

In [23]:
print(users.insert())

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [17]:
insert = users.insert().values(name='park', fullname='soyoung park')

In [18]:
print(insert)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [19]:
insert.compile().params

{'fullname': 'soyoung park', 'name': 'park'}

insert 방법 1

In [20]:
insert.bind = engine # insert를 engine과 바인딩

In [21]:
# connection
conn = engine.connect()

In [22]:
result = conn.execute(insert)  # 바인딩된 insert를 실행, DB로 넘어감

2018-07-13 16:11:00,762 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-13 16:11:00,769 INFO sqlalchemy.engine.base.Engine ('park', 'soyoung park')
2018-07-13 16:11:00,779 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
result.inserted_primary_key

[1]

insert 방법 2

In [24]:
conn.execute(users.insert(), name = 'lee', fullname = 'jieun lee')

2018-07-13 16:11:06,034 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-13 16:11:06,040 INFO sqlalchemy.engine.base.Engine ('lee', 'jieun lee')
2018-07-13 16:11:06,049 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
result = conn.execute(users.insert(), name = 'won', fullname = 'gangmin won')

2018-07-13 16:11:08,578 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-13 16:11:08,584 INFO sqlalchemy.engine.base.Engine ('won', 'gangmin won')
2018-07-13 16:11:08,595 INFO sqlalchemy.engine.base.Engine COMMIT

In [26]:
result.inserted_primary_key

[3]

한꺼번에 많이 insert 방법

In [27]:
conn.execute(address.insert(), [
    {"user_id" : 1, "email_address" : "soyng.park@gmail.com"},
    {"user_id" : 4, "email_address" : "rkdals52@naver.com"}
])

2018-07-13 16:11:13,756 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2018-07-13 16:11:13,762 INFO sqlalchemy.engine.base.Engine ((1, 'soyng.park@gmail.com'), (4, 'rkdals52@naver.com'))
2018-07-13 16:11:13,771 INFO sqlalchemy.engine.base.Engine COMMIT

* Select

In [28]:
from sqlalchemy.sql import select

In [29]:
# 쿼리문을 알아서 만듦
query = select([users]) # 칼럼명이 아닌 객체를 통째로 넣을 때는 괄호와 함께..

In [30]:
print(query)

SELECT users.id, users.name, users.fullname
FROM users

In [31]:
result = conn.execute(query)

2018-07-13 16:11:20,842 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-13 16:11:20,848 INFO sqlalchemy.engine.base.Engine ()

In [32]:
for row in result :
    print(row)

(1, 'park', 'soyoung park')
(2, 'lee', 'jieun lee')
(3, 'won', 'gangmin won')

In [33]:
# 특정 컬럼만 가져오기
result = conn.execute(select([users.c.name, users.c.fullname]))

2018-07-13 16:11:27,291 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2018-07-13 16:11:27,297 INFO sqlalchemy.engine.base.Engine ()

In [34]:
row = result.fetchone()
print(row["name"], row['fullname'])

park soyoung park

In [35]:
# 특정 컬럼만 가져오기
result = conn.execute(select([users.c.name, users.c.fullname]))

2018-07-13 16:11:41,415 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2018-07-13 16:11:41,419 INFO sqlalchemy.engine.base.Engine ()

In [36]:
rows = result.fetchall()
for row in rows :
    print(row[0], row[1])

park soyoung park
lee jieun lee
won gangmin won

* Where

In [59]:
from sqlalchemy import and_, or_, not_

파이썬 문법으로 만들어진 sql 구문

In [60]:
print(users.c.id == address.c.user_id)

users.id = addresses.user_id

In [61]:
print(or_(users.c.id == address.c.user_id, users.c.id == 1))

users.id = addresses.user_id OR users.id = :id_1

In [64]:
print(((users.c.id == address.c.user_id) | (users.c.id == 1)))

users.id = addresses.user_id OR users.id = :id_1

In [65]:
result  = conn.execute(select([users]).
                      where(users.c.id == 1))

2018-07-10 14:38:22,524 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2018-07-10 14:38:22,530 INFO sqlalchemy.engine.base.Engine (1,)

In [67]:
print(result.fetchall())

[(1, 'park', 'soyoung park')]

In [68]:
# join 없는 join
result = conn.execute(select([users.c.fullname, address.c.email_address]).
                      where(users.c.id == address.c.user_id))

2018-07-10 14:43:14,522 INFO sqlalchemy.engine.base.Engine SELECT users.fullname, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
2018-07-10 14:43:14,529 INFO sqlalchemy.engine.base.Engine ()

In [69]:
print(result.fetchall())

[('soyoung park', 'soyng.park@gmail.com'), ('gangmin won', 'rkdals52@naver.com')]

In [74]:
# 특정 문자열 포함
result = conn.execute(select([users]).
                      where(users.c.name.like("p%")))

2018-07-10 14:46:08,772 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name LIKE ?
2018-07-10 14:46:08,778 INFO sqlalchemy.engine.base.Engine ('p%',)

In [75]:
print(result.fetchall())

[(1, 'park', 'soyoung park'), (2, 'park', 'soyoung park')]

In [76]:
# where 2개 -> and
result = conn.execute(select([users.c.fullname, address.c.email_address]).
                      where(users.c.id == address.c.user_id).
                      where(users.c.name.like("p%")))

2018-07-10 14:48:03,043 INFO sqlalchemy.engine.base.Engine SELECT users.fullname, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name LIKE ?
2018-07-10 14:48:03,049 INFO sqlalchemy.engine.base.Engine ('p%',)

In [77]:
print(result.fetchall())

[('soyoung park', 'soyng.park@gmail.com')]

* join

In [11]:
from sqlalchemy import join

In [79]:
print(users.join(address))

users JOIN addresses ON users.id = addresses.user_id

In [81]:
print(users.join(address, users.c.id == address.c.user_id))
# fk를 설정해주었다면 굳이 이렇게 할 필요없음

users JOIN addresses ON users.id = addresses.user_id

In [84]:
result = conn.execute(select([users.c.name, address.c.email_address]).
                      select_from(users.join(address)))
# on 절이 없음에도 잘했다

2018-07-10 15:12:08,498 INFO sqlalchemy.engine.base.Engine SELECT users.name, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
2018-07-10 15:12:08,504 INFO sqlalchemy.engine.base.Engine ()

In [85]:
print(result.fetchall())

[('park', 'soyng.park@gmail.com'), ('won', 'rkdals52@naver.com')]

* 예제

In [4]:
artist = Table("artist", metadata,
              Column("id", Integer, primary_key=True),
              Column("name", String, nullable=False))

album = Table("album", metadata,
              Column("id", Integer, primary_key=True),
              Column("title", String, nullable=False),
              Column("artist_id", Integer, ForeignKey("artist.id")))

genre = Table("genre", metadata,
              Column("id", Integer, primary_key=True),
              Column("name", String, nullable=False))

In [5]:
track = Table("track", metadata,
              Column("id", Integer, primary_key=True),
              Column("title", String, nullable=False),
              Column("album_id", Integer, ForeignKey("album.id")),
              Column("genre_id", Integer, ForeignKey("genre.id")))

In [6]:
metadata.create_all(engine)

2018-07-10 16:28:15,778 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:28:15,812 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:15,822 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:28:15,827 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:15,836 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-10 16:28:15,841 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:15,850 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-10 16:28:15,856 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:15,862 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-10 16:28:15,867 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:15,873 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-10 16:28:15,878 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:15,886 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artist (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:28:15,891 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:15,955 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:28:15,960 INFO sqlalchemy.engine.base.Engine
CREATE TABLE genre (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:28:15,965 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:16,004 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:28:16,011 INFO sqlalchemy.engine.base.Engine
CREATE TABLE album (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES artist (id)
)


2018-07-10 16:28:16,015 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:16,053 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:28:16,063 INFO sqlalchemy.engine.base.Engine
CREATE TABLE track (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES album (id),
	FOREIGN KEY(genre_id) REFERENCES genre (id)
)


2018-07-10 16:28:16,070 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:28:16,109 INFO sqlalchemy.engine.base.Engine COMMIT

In [90]:
for t in metadata.tables :
    print(t)

users
addresses
artist
album
genre
track

In [91]:
users.drop(engine)

2018-07-10 15:25:15,405 INFO sqlalchemy.engine.base.Engine
DROP TABLE users
2018-07-10 15:25:15,412 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:25:15,418 INFO sqlalchemy.engine.base.Engine COMMIT

In [92]:
address.drop(engine)

2018-07-10 15:25:34,163 INFO sqlalchemy.engine.base.Engine
DROP TABLE addresses
2018-07-10 15:25:34,169 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:25:34,175 INFO sqlalchemy.engine.base.Engine COMMIT

In [94]:
for t in engine.table_names() :
    print(t)

2018-07-10 15:26:08,451 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 15:26:08,457 INFO sqlalchemy.engine.base.Engine ()
album
artist
genre
track

In [95]:
for t in metadata.tables :
    print(t)

users
addresses
artist
album
genre
track

engine에서는 drop한 테이블들 지워졌지면 metadata에서는 안지워짐

In [9]:
conn.execute(artist.insert(), [
    {"name" : "IU"},
    {"name" : "AKMU"}
])

conn.execute(album.insert(), [
    {"title" : "Pallete", "artist_id" : 1},
    {"title" : "Four Springs", "artist_id" : 2}
])

conn.execute(genre.insert(), [
    {"name" : "Duet"},
    {"name" : "Single"}
])

conn.execute(track.insert(), [
    {"title" : "To Name", "album_id" : 1, "genre_id" : 2},
    {"title" : "Four Springs",  "album_id" : 2, "genre_id" : 1},
    {"title" : "Love is so so",  "album_id" : 1, "genre_id" : 1}
])

2018-07-10 16:28:46,811 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-10 16:28:46,817 INFO sqlalchemy.engine.base.Engine (('IU',), ('AKMU',))
2018-07-10 16:28:46,834 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:28:46,869 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-10 16:28:46,874 INFO sqlalchemy.engine.base.Engine (('Pallete', 1), ('Four Springs', 2))
2018-07-10 16:28:46,885 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:28:46,923 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-10 16:28:46,928 INFO sqlalchemy.engine.base.Engine (('Duet',), ('Single',))
2018-07-10 16:28:46,939 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:28:46,973 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 16:28:46,978 INFO sqlalchemy.engine.base.Engine (('To Name', 1, 2), ('Four Springs', 2, 1), ('Love is so so', 1, 1))
2018-07-10 16:28:46,989 INFO sqlalchemy.engine.base.Engine COMMIT

In [99]:
artistResult = conn.execute(artist.select())
print(artistResult,'\n', artistResult.fetchall())

2018-07-10 15:36:49,990 INFO sqlalchemy.engine.base.Engine SELECT artist.id, artist.name
FROM artist
2018-07-10 15:36:49,996 INFO sqlalchemy.engine.base.Engine ()
<sqlalchemy.engine.result.ResultProxy object at 0x000000B95527E630>
 [(1, 'IU'), (2, 'AKMU')]

In [104]:
r = conn.execute(select([album.c.title, track.c.title]).
                where(and_(album.c.id == 1, 
                           album.c.id == track.c.album_id)))
print(r)
for i in r :
    print(i)

2018-07-10 15:41:52,203 INFO sqlalchemy.engine.base.Engine SELECT album.title, track.title
FROM album, track
WHERE album.id = ? AND album.id = track.album_id
2018-07-10 15:41:52,209 INFO sqlalchemy.engine.base.Engine (1,)
<sqlalchemy.engine.result.ResultProxy object at 0x000000B956A54240>
('Pallete', 'To Name')
('Pallete', 'Love is so so')

* update

In [105]:
from sqlalchemy import update

In [107]:
conn.execute(track.update().values(genre_id = 1)
             .where(track.c.title == 'Love is so so'))

2018-07-10 15:48:11,978 INFO sqlalchemy.engine.base.Engine UPDATE track SET genre_id=? WHERE track.title = ?
2018-07-10 15:48:11,984 INFO sqlalchemy.engine.base.Engine (1, 'Love is so so')
2018-07-10 15:48:11,990 INFO sqlalchemy.engine.base.Engine COMMIT

In [110]:
r = conn.execute(select([track.c.title, album.c.title]).
            select_from(track.join(album)))
print(r.fetchall())

2018-07-10 15:50:46,604 INFO sqlalchemy.engine.base.Engine SELECT track.title, album.title
FROM track JOIN album ON album.id = track.album_id
2018-07-10 15:50:46,611 INFO sqlalchemy.engine.base.Engine ()
[('To Name', 'Pallete'), ('Four Springs', 'Four Springs'), ('Love is so so', 'Pallete')]

In [115]:
conn.execute(track.update().values(title = 'Way to go back home')
             .where(track.c.title == 'Four Springs'))

2018-07-10 16:13:05,343 INFO sqlalchemy.engine.base.Engine UPDATE track SET title=? WHERE track.title = ?
2018-07-10 16:13:05,349 INFO sqlalchemy.engine.base.Engine ('Way to go back home', 'Four Springs')
2018-07-10 16:13:05,355 INFO sqlalchemy.engine.base.Engine COMMIT

In [116]:
r = conn.execute(select([track]))
print(r.fetchall())

2018-07-10 16:13:07,639 INFO sqlalchemy.engine.base.Engine SELECT track.id, track.title, track.album_id, track.genre_id
FROM track
2018-07-10 16:13:07,645 INFO sqlalchemy.engine.base.Engine ()
[(1, 'To Name', 1, 2), (2, 'Way to go back home', 2, 1), (3, 'Love is so so', 1, 1)]

* 다중 조인

In [117]:
print(track.join(album))

track JOIN album ON album.id = track.album_id

In [118]:
print(track.join(genre))

track JOIN genre ON genre.id = track.genre_id

In [119]:
print(track.join(album).join(genre))

track JOIN album ON album.id = track.album_id JOIN genre ON genre.id = track.genre_id

In [121]:
print(track.join(album).join(genre).join(artist))

track JOIN album ON album.id = track.album_id JOIN genre ON genre.id = track.genre_id JOIN artist ON artist.id = album.artist_id

In [123]:
r = conn.execute(select([
    track.c.title, genre.c.name, album.c.title, artist.c.name
]).select_from(track.join(album).join(genre).join(artist)))

2018-07-10 16:16:50,126 INFO sqlalchemy.engine.base.Engine SELECT track.title, genre.name, album.title, artist.name
FROM track JOIN album ON album.id = track.album_id JOIN genre ON genre.id = track.genre_id JOIN artist ON artist.id = album.artist_id
2018-07-10 16:16:50,132 INFO sqlalchemy.engine.base.Engine ()

In [124]:
for i in r :
    print(i)

('To Name', 'Single', 'Pallete', 'IU')
('Way to go back home', 'Duet', 'Four Springs', 'AKMU')
('Love is so so', 'Duet', 'Pallete', 'IU')

In [133]:
r = conn.execute(select([
    track.c.title, genre.c.name, album.c.title, artist.c.name
]).select_from(track.join(album).join(genre).join(artist)).where(artist.c.name == 'IU').where(track.c.title.like("%Love%")))

2018-07-10 16:22:19,839 INFO sqlalchemy.engine.base.Engine SELECT track.title, genre.name, album.title, artist.name
FROM track JOIN album ON album.id = track.album_id JOIN genre ON genre.id = track.genre_id JOIN artist ON artist.id = album.artist_id
WHERE artist.name = ? AND track.title LIKE ?
2018-07-10 16:22:19,845 INFO sqlalchemy.engine.base.Engine ('IU', '%Love%')

In [134]:
for i in r :
    print(i)

('Love is so so', 'Duet', 'Pallete', 'IU')