# Week2 7월 10일 화요일 

# SQLAlchemy Core

* 기존 DB를 불러오기

In [1]:
from sqlalchemy import *

In [2]:
engine = create_engine("sqlite:///alchemy_core.db", echo = True)
conn = engine.connect()

2018-07-13 16:13:17,320 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-13 16:13:17,333 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:17,338 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-13 16:13:17,341 INFO sqlalchemy.engine.base.Engine ()

In [3]:
metadata = MetaData(bind = engine, reflect = True) # engine 가져오기
metadata.reflect(bind=engine)

2018-07-13 16:13:18,952 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-13 16:13:18,957 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:18,971 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-13 16:13:18,975 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:18,986 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'
2018-07-13 16:13:18,990 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,002 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("addresses")
2018-07-13 16:13:19,007 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,015 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'
2018-07-13 16:13:19,019 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,044 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-13 16:13:19,054 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,067 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-13 16:13:19,071 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,083 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")
2018-07-13 16:13:19,089 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,096 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-13 16:13:19,106 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,114 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-07-13 16:13:19,118 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,125 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-07-13 16:13:19,129 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,136 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-13 16:13:19,141 INFO sqlalchemy.engine.base.Engine ()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  """Entry point for launching an IPython kernel.

2018-07-13 16:13:19,167 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")
2018-07-13 16:13:19,176 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,186 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")
2018-07-13 16:13:19,194 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,201 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'
2018-07-13 16:13:19,206 INFO sqlalchemy.engine.base.Engine ()
2018-07-13 16:13:19,226 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-13 16:13:19,231 INFO sqlalchemy.engine.base.Engine ()

In [4]:
for t in metadata.tables :
    print(t)

addresses
users

In [5]:
users = metadata.tables["users"]
r = conn.execute(users.select())
print(r.fetchall())

2018-07-13 16:13:22,927 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-13 16:13:22,933 INFO sqlalchemy.engine.base.Engine ()
[(1, 'park', 'soyoung park'), (2, 'lee', 'jieun lee'), (3, 'won', 'gangmin won')]